/* CSS reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

ul{
    list-style-type:none;
}

img{
    display: block;
}

q{
    quotes:none
}

a{
    text-decoration: none;
    color:black;
}

/* Body */
body{
    font-family: sans-serif;
    line-height: 1.5;
    word-spacing: 1px;
}