@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');
/* CSS reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

ul{
    list-style-type:none;
}

img{
    display: block;
}

q{
    quotes:none
}

a{
    text-decoration: none;
    color:black;
}

/* Body */
body{
    font-family: sans-serif;
    line-height: 1.5;
    word-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
}

/* Common CSS */

header,.primary-header,.primary-nav>ul,.hero,.hero-section,.detail-images,.call-to-action{
    display: flex;
}
