@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');
/* CSS reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

ul{
    list-style-type:none;
}

img{
    display: block;
}

q{
    quotes:none
}

a{
    text-decoration: none;
    color:black;
}

/* Body */
body{
    font-family: sans-serif;
    line-height: 1.5;
    word-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
}

/* Common CSS */

header,.primary-header,.primary-nav>ul,.hero,.hero-section,.detail-images,.call-to-action{
    display: flex;
}

header,.hero,footer{
    background:#1f2937;
    color:white;
}

/* main */

.primary-header{
    width: 1100px;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: lowercase;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    font-size: 40px;
    width:200px;
}

.primary-nav>ul{
    display: flex;
    gap:1rem;
    text-transform: uppercase;
    font-size:18px;
    color:#e5e7eb;
}

/* Hero Section */

.hero-section{
    width:1100px;
    padding:5rem 0;
    justify-content: space-between;
    align-items: center;
    margin-inline:auto;
}

.about h2{
    font-size: 48px;
}

.hero-para{
    width:400px;
    font-size: 18px;
    color:#E5E7EB;
    margin-bottom:10px
}

.hero-section img{
   width:550px; 
}

.about a, .call-to-action a{
    background:#3882f6;
    display: inline-block;
    padding:0.5rem 2.5rem;
    border-radius:10px;
    color:white;
}
/* Detail section */

.details>div{
    width:1050px;
    margin:2rem auto 5rem auto;
}

.details h2{
    margin-bottom: 2rem;
    text-align: center;
    font-size:36px;
    font-weight: 700;
}
.details img{
    width:200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.detail-images{
    justify-content: space-around;
    flex-wrap: wrap;
}

.detail-images>figure{
    width:200px;
    text-align: center;
}

.detail-images figcaption{
    margin-top: 5px;
}

/* Quote section */

.quote{
    background-color: #E5E7EB;
}

.quote div{
    width:1100px;
    margin-inline:auto;
    padding:6rem 0;
    font-size: 36px;
    font-weight: 300;
    font-style:italic;
}

.quote p{
    text-align: right;
    font-weight: 700;
    font-style: normal;
}